$baslikBoyutu: 30px;
$icerikBoyutu: 12px;
$butonYazi: 12px;
$altBaslikBoyutu: 20px;
$kirmiziTonu: #7a3130;


.ersinkalafat {
  font-size: 12px;
  color: darkcyan;
  margin: 20px;
}


.urunlistesi {
  margin: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.urun {
  color: #000000;
  border-radius: 0;
  border-style: ridge;
  border-width: 1px;
  padding: 10px;
}

.urundizayn {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
}

.urundizayn tr {
  margin: auto;
}

.urunaciklamasi {
  font-size: $icerikBoyutu;
  height: 55px;
}


.buton {
  background-color: #FB641B;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: $butonYazi;
  font-weight: bold;
  height: 40px;
  padding: 1px 25px 1px 25px;
  border: none;
  margin-left: 10px;
}

.ustmenu {
  background-color: $kirmiziTonu;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: $butonYazi;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border: none;
  margin: 20px;
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .urunlistesi {
    grid-template-columns: 33% 33% 33%;
  }

}

@media only screen and (max-width: 600px) {
  .urunlistesi {
    grid-template-columns: 50% 50%;
  }
  .buton {
    font-size: 10px;
    height: 30px;
    padding: 1px 15px 1px 15px;
  }
}

